.container {
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative; 
  z-index: 10;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {

background-image: linear-gradient(to right, rgb(176, 219, 193), rgb(71, 128, 115));
font-family: "Silkscreen", sans-serif;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  font-weight: 500;
  color: #e2cb9b;
}

h2,
h3 {
  margin: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
}

p {
  color: #e2cb9b;
}

.img1,
.img2 {
  width: 80%;
  background-color: #e2cb9b;
;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}

.pixel1 {
  width: 30%;
  padding-left: 7%;
  position: fixed;
  z-index: -1;
}

.pixel2 {
  rotate: 180deg;
  width: 31%;
  padding-left: 7%;
  padding-bottom: 11%;
  position: fixed;
  z-index: -1;
  right:0; 
}
.myBtn {
  margin: 30px;
  font-family: "Silkscreen", sans-serif;
  color:rgb(0, 0, 0);
  background-color: #e2cb9b;

}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;
  font-family: "Silkscreen", sans-serif;

}

.social-icon {
    margin: 20px 10px;
}

.dropdown{
  padding-left:70%;
  padding-top:1%;

}


#testimonials {
    margin-top: 7%;

    padding: 1% 15%;
    text-align: center;
background-image: linear-gradient(to bottom, rgb(176, 219, 193), rgb(71, 128, 115));
    
}

.carousel-item {
    padding: 1% 15%;
        color: rgb(230, 226, 213);

}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}